.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 18px;

}
.xyz{
    background: url('https://t3.ftcdn.net/jpg/05/63/05/52/360_F_563055283_HwIxm5kjs4NQJM4YIvWSH7Nk0QkNr70n.jpg') center center/cover no-repeat;
    height: 100vh;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.forget-password {
    background-color: transparent;
    color: #0056b3;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.forget-password:hover {
    color: #004494;
    text-decoration: underline;
}

