.gallery-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin-top: 20px;
    
    
  }
  .gallery-contain{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 20px;
  }
  
  .gallery-nav-button {
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; */
    width: 100px;
  }
  
  .gallery-prev-button {
    left: 10px;
  }
  
  .gallery-next-button {
    right: 10px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    width: 1589px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #01204E;
  }
  
  .sidebar-controls {
    position: absolute;
    top: 30%;
    right: 5px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
    background-color: #d4eeda;
    border-radius: 10px;
    padding: 20px 5px 20px 5px;
  }
  
  .my_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
  }
  
  .green-background-select {
    background-color: #28a745;
    color: white;
    padding: 0;
  }
  
  .green-background-draw {
    background-color: #007bff;
    color: white;
  }
  

  .disabled {
    pointer-events: none;
    opacity: 0.5; /* Grays out the button */
  }
  